In [1]:
import pickle
import pandas as pd

from glob import glob

In [2]:
path = "./stat_models"
model_directories = glob(path + "/*/")

In [3]:
table_dict = {}

for idx in range(len(model_directories)):
    directory = model_directories[idx]
    model_name = directory.split("/")[-2]
    station_pkls = glob(path + "/" + model_name + "/*_pm25.pkl")
    
    model_data = {}

    for inner_idx in range(len(station_pkls)):
        station_data = pickle.load(open(station_pkls[inner_idx], "rb"))
        model_data[station_data["station_id"]] = station_data["score"]
        
    table_dict[model_name] = model_data

In [4]:
reform = {(outerKey, innerKey): values for outerKey, innerDict in table_dict.items() for innerKey, values in innerDict.items()}

In [5]:
result_df = pd.DataFrame(reform).transpose()

In [6]:
result_df

                    r2_score        mae       rmse       mean
ARIMA        KA006  0.321306   8.444263  12.269418  33.671429
             KA009 -0.196960  11.405891  19.555972  33.076390
             KA003 -0.199508  28.598295  65.334478  52.149336
             KA011  0.555780   7.287427  10.105022  33.093690
             KA004  0.236922   8.138024  10.567839  34.633810
             KA007  0.447543   8.472853  12.577459  29.706022
             KA002  0.278552  11.520088  19.178778  29.275858
Holt-Winters KA006  0.298414   8.859891  12.474622  33.671429
             KA009  0.257894   7.536254  15.398290  33.076390
             KA003 -0.230532  29.178181  66.173989  52.149336
             KA011  0.532982   7.592012  10.361073  33.093690
             KA004  0.228417   8.021994  10.626568  34.633810
             KA007  0.451211   8.415859  12.535646  29.706022
             KA002  0.139366  11.242955  20.947281  29.275858
AR           KA006  0.387458   8.237108  11.656142  33.671429
             KA009  0.134645  10.104733  16.627871  33.076390
             KA003 -0.073490  23.904889  61.807313  52.149336
             KA011  0.587946   7.244477   9.732287  33.093690
             KA004  0.336479   7.523422   9.854375  34.633810
             KA007  0.494030   8.240261  12.036666  29.706022
             KA002  0.197028  11.767685  20.233391  29.275858

In [7]:
predictions_df = pd.read_pickle(path + "/KA007_predictions.pkl")

In [8]:
predictions_df

            Actual         AR      ARIMA  Holt-Winters
2019-09-13    9.73   9.964644   8.427378      8.595867
2019-09-14   10.69  11.223989   9.414549      9.312818
2019-09-15    9.84  12.016202  10.343743     11.057726
2019-09-16   11.09  11.261068   9.521210      9.821751
2019-09-17    8.30  12.637926  10.731111     10.842776
...            ...        ...        ...           ...
2020-03-12   35.74  39.607724  39.409375     39.488621
2020-03-13   26.51  35.015372  34.178957     36.943603
2020-03-14   31.27  28.679020  25.341671     29.429426
2020-03-15   24.61  31.939206  29.898999     31.804368
2020-03-16   30.51  25.565053  23.525199     25.357450

[186 rows x 4 columns]